fastapi
python-multipart
sqlalchemy
uvicorn
pydantic
pydantic-settings
unstructured[pdf]
pillow-heif
pdfminer.six
python-jose[cryptography]
passlib[bcrypt]
alembic
psycopg2-binary
pdf2image
pi-heif
python-pptx
langchain-community
langchain-google-genai
